<aside class="menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a href="{% url 'employee:dashboard' %}">Dashboard</a></li>
    </ul>
    <p class="menu-label">
        Administration
    </p>
    <ul class="menu-list">
        <li>
            <a class="{% if request.resolver_match.view_name == 'employee:view_employee' %}is-active{% endif %}"
               href="{{ employee.uuid }}">Manage Employee</a>
            <ul>
                <li><a>Contracts</a></li>
                <li><a>Leaves</a></li>
                <li><a>Team</a></li>
            </ul>
        </li>
        <li><a href="#">KPIs</a></li>
        <li><a href="#">Appraisal</a></li>
    </ul>
    <p class="menu-label">
        Transactions
    </p>
    <ul class="menu-list">
        <li><a>Payments</a></li>
    </ul>
</aside>