<nav class="navbar box" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'admin' %}">
            <!--<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
            <span class="icon-text">
      <span class="icon">
        <i class="fas fa-home"></i>
      </span>
      <span><b>portal</b>hr</span>
    </span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{ user.username }}
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="#">
                        Profile
                    </a>
                    <a class="navbar-item" href="{% url 'auth_logout' %}">
                        Logout
                    </a>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <a class="button is-light">
                    Log in
                </a>
                {% endif %}
            </div>
        </div>
</nav>